<h1><%= t("tts.index.title") %></h1>


  <% if flash[:notice] %>
    <div class="alert alert-success">
      <p><%= flash[:notice] %></p>
    </div>
    <% end %>
    <% if flash[:error] %>
    <div class="alert alert-error">
      <%= flash[:error] %>
    </div>
  <% end %>

<form method="post">
  <p><%= t("tts.index.text.name") %></p>
  <p>
    <textarea name="translation_text" class="input-xxlarge" rows="20"></textarea>
  </p>
   <p><%= t("tts.index.languages.name") %></p>

   <p>
    <select name="languages">
      <% if !@languages.blank? %>
        <% for language in @languages %>
          <option value="<%= language.value %>"><%= language.name %></option>
        <% end %>
      <% end %>
    </select>
   </p>

  <p>
    <input class="btn btn-large btn-primary" type="submit" value="Submit"></submit>
  </p>
</form>