<!DOCTYPE html>
<html>
<head>
  <title>Text2speech</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="span9"><%= yield %></div>
<div class="span3">
<p>
<h3><%=t("application.about.howitworks.title")%></h3>

<p> <%=t("application.about.howitworks.text")%> </p>

<ol>
  <li><%=t("application.about.howitworks.step1")%></li>
  <li><%=t("application.about.howitworks.step2")%></li>
  <li><%=t("application.about.howitworks.step3")%></li>
  <li><%=t("application.about.howitworks.step4")%></li>
</ol>
</div>

</body>
</html>
